@import url("./font.css");
@import url("./reset.css");

.game-info {
  background-color: white;
  width: 50%;
  height: 50%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 gray;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.goto-list {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.game-detail {
  width: 80%;
  border-bottom: 3px solid black;
  padding-bottom: 2rem;
}

.game-detail-counter {
  width: 80%;
  border-bottom: 3px solid black;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  cursor: pointer;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
}

.game_result p {
  font-weight: 700;
}

.result {
  color: rgb(106, 106, 251);
}
