.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
}

.main-logo {
  color: inherit;
  text-decoration: none;
}

.navbar div {
  margin: 1rem 3rem;
}

.nav-btn a {
  color: inherit;
  text-decoration: none;
  margin-right: 1rem;
}

.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
