<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/gamelist.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="{% url 'games:main' %}" class="main-logo">PIROGRAM CARDGAME</a>
      </div>
      <div class="nav-btn">
        {% if user.is_authenticated %}
        <a href="{% url 'games:gamestart' %}">게임하기</a>
        <a href="{% url 'games:gameranking' %}">랭킹보기</a>
        <a href="{% url 'games:logout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'games:login' %}">로그인</a>
        {% endif %}
      </div>
    </nav>
    <main class="main">
      <div class="player">
        <p>
          현재 플레이어: <span class="current-player">{{user.username}}</span>
        </p>
      </div>
      <div class="list-container">
        {% for game in allgame %} {% if game.attacker == user %}
        <div class="game">
          <p>
            <span class="gameid">{{game.id}}</span>
            <span class="current-player"> {{game.attacker}}</span> vs
            {{game.defender}}
          </p>
          {% if game.status == 1 %}
          <div class="gaming">진행중... <form action="{% url 'games:gamedelete' game.pk %}" method="post">{% csrf_token %}<input type="submit", value="게임 취소"/></form></div>
          {% endif %}
          {% if game.status == 2 or game.status == 3 %}
          {% if game.status == 2 %}
          <p><span class="result"> 결과 : </span>승리</p>
          {% endif %} {% if game.status == 3 %}
          <p><span class="result"> 결과 : </span> 패배</p>
          {% endif %}
          {% endif %}
          <a href="{% url 'games:gameinfo' game.pk %}"><button>게임 정보</button></a>
        </div>
        {% endif %} {% if game.defender == user %}
        <div class="game">
          <p>
            <span class="gameid">{{game.id}}</span>
            </span> {{game.attacker}} vs
            <span class="current-player"> {{game.defender}}
          </p>
          {% if game.status == 1 %}
          <a class="counter" href="{% url 'games:gamecounter' game.pk %}">반격하기</a>
          {% endif %}
          {% if game.status == 2 or game.status == 3 %}
          {% if game.status == 2 %}
          <p><span class="result"> 결과 : </span> 패배</p>
          {% endif %} {% if game.status == 3 %}
          <p><span class="result"> 결과 : </span> 승리</p>
          {% endif %}
          {% endif %}
          <a href="{% url 'games:gameinfo' game.pk %}"><button>게임 정보</button></a>
        </div>
        {% endif %}{% endfor %}
      </div>
    </main>
    <footer class="footer"><div>🔥 6조 화이팅 🔥</div></footer>
  </body>
</html>
